.myText {
    font-family: verdana;
    font-weight: 700;
    color: white;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.fadeDown1 {
    opacity: 0;
    transform: translateY(-80%);
    animation: fadeIn 0.6s ease-in 0.7s forwards, slideIn 0.5s cubic-bezier(1,.015,.295,1.225) 0.9s forwards;
}

.fadeDown2 {
    opacity: 0;
    transform: translateY(-160%);
    animation: fadeIn 0.6s ease-in 0.8s forwards, slideIn 0.55s cubic-bezier(1,.015,.295,1.225) 1s forwards;
}

.fade {
    opacity: 0;
    animation: fadeIn 1s ease-in 1.3s forwards;
}

@keyframes fadeIn {
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    100% {
        transform: translateY(0);
    }
}
