.navBorder {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
	border-image-source: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-left: 0;
    border-top: 0;
    border-right: 0;
}

.footerBorder {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
	border-image-source: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
}
